.order-detail-container {
    background-color: #f8f9fa;
    color: var(--brand-primary);
}

.order-detail-container .card-header h3 {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.order-item-image {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}
